@page
@model SourceStack.Pages.FAQ.IndexModel
@{
}
<head>
    <meta charset="utf-8" />
    <title>常见问题</title>
    <link rel="stylesheet" href="/css/StyleSheet.css">
    <link rel="shortcut icon" type="image/ico" href="/Images/logo.ico" media="screen" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>
    <h1><b> 常见问题</b><br /></h1>
    <p><b><a href="Account.html">？账号</a></b></p>
    <p><a href="Account.html#invite" target="_blank">Q:邀请码是怎么一回事？</a></p>
    <p><a href="" target="_blank">Q:为什么会提示"邀请人数达到上限"？</a></p>
    <p><a href="Account.html" target="_blank">Q:系统如何是确定"最后（上次）登录时间"的？</a></p>
    <p><a href="Account.html" target="_blank">Q;"最后登录时间"有什么用处？</a></p>
    <p><a href="Account.html" target="_blank">Q:邮箱有什么作用？</a></p>
    <p><a href="Account.html" target="_blank">Q:为什么我收不到邮件通知</a></p>

    <p><b><a href="Account.html">？帮帮点</a></b></p>
    <p><a href="Account.html" target="_blank">Q:什么是帮帮点？有什么用处？</a></p>
    <p><a href="Credit.html#email" target="_blank">Q:如何才能获取帮帮点？</a></p>

    <p><b><a href="Account.html">？帮帮币</a></b></p>
    <p><a href="Account.html" target="_blank">Q:什么是帮帮币？有什么作用？</a></p>
    <p><a href="Account.html" target="_blank">Q:引入"帮帮币"的目的是什么？</a></p>
    <p><a href="Account.html" target="_blank">Q:如何才能获得帮帮币？</a></p>
    <p><a href="Account.html" target="_blank">Q:作为买方，如何保证交易安全？</a></p>
    <p><a href="Account.html" target="_blank">Q:如何出售帮帮币？</a></p>
    <p><a href="Account.html" target="_blank">Q:如何成为"系统推荐卖家"？</a></p>
    <p><a href="Account.html" target="_blank">Q:作为卖方，如何保证交易安全？</a></p>
    <p><a href="Account.html" target="_blank">Q:帮帮币出售时为什么要设置"门槛"？</a></p>

    <p><b><a href="Account.html">？帮帮豆</a></b></p>
    <p><a href="Account.html" target="_blank">Q:什么是帮帮豆？有什么作用？</a></p>
    <p><a href="Account.html" target="_blank">Q:怎么获取帮帮豆？</a></p>
    <p><a href="Account.html" target="_blank">Q:为什么我反复登录帮帮豆都没有变化？</a></p>
    <p><a href="Account.html" target="_blank">Q:我昨天剩余的帮帮豆哪去了？</a></p>
    <p><a href="Account.html" target="_blank">Q:一张表区分帮帮"点/豆/币"？</a></p>

    <p><b><a href="Account.html">？消息和通知</a></b></p>
    <p><a href="Account.html" target="_blank">Q:用户消息和系统通知有什么区别？</a></p>
    <p><a href="Account.html" target="_blank">Q:如何设置用户消息接收？</a></p>
    <p><a href="Account.html" target="_blank">Q:我能不能禁用掉系统通知？</a></p>

    <p><b><a href="Account.html">？求助流程</a></b></p>
    <p><a href="Account.html">Q:为什么发布一个求助这么麻烦？</a></p>
    <p><a href="Account.html">Q:正常的求助流程应该是怎样的？</a></p>
    <p><a href="Account.html">Q:那么，"非正常"的求助流程呢？</a></p>
    <p><a href="Account.html">Q:应答上面的图标有何含义？</a></p>
    <p><a href="Account.html">Q:发布如何设置悬赏数额？</a></p>
    <p><a href="Account.html">Q:"据实结算"是怎么一回事？</a></p>
    <p><a href="Account.html">Q:"开始协助"如何操作的？为什么非常重要？</a></p>
    <p><a href="Account.html">Q:协助超时提醒是怎么回事？</a></p>
    <p><a href="Account.html">Q:求助人一直不酬谢帮帮币怎么办？</a></p>
    <p><a href="Account.html">Q:酬谢时默认的评价为什么是四星？</a></p>
    <p><a href="Account.html">Q:问题没有解决？</a></p>
    <p><a href="Account.html">Q:为什么求助没有解决也要扣我的帮帮币？/(ㄒoㄒ)/~~</a></p>
    <p><a href="Account.html">Q:为什么要写总结？</a></p>
    <p><a href="Account.html">Q:什么时候可以撤销？</a></p>
</body>