@page
@model SourceStack.Pages.Article.IndexModel
@{
}
<head>
    <meta charset="utf-8" />
    <meta name="description" content="大神自由飞的原创首发精品文章，菜鸟入门编程开发必看，还包括求职入职、代码规范、项目管理、系统架构等一系列程序猿关心的问题……" />
    <meta name="keywords" content="源栈 一起帮 自由飞" />
    <title>精品文章·一起帮</title>
    <link rel="shortcut icon" type="image/ico" href="http://17bang.ren/Images/logo-big.ico" media="screen" />
    <link rel="stylesheet" href="/css/StyleSheet.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/font-awesome.css" />

</head>
<body>
    <main class="container">
        <nav>
            因为注册时使用了叶飞的邀请码，系统赠送给 源潮 ① 10点 帮帮点
            <a href="#" style="float:right">全部消息</a>
        </nav>
        <div class="row" style="margin-top:55px">
            <article class="col-md-8">
                <div>
                    <p style="float:left">2020年12月06日23点06分</p>
                    <p><span style="float:right"><b>作者：</b><a href="Article.html">叶飞</a></span></p>
                    <div style="clear:both">
                        <span><a href="723.html" style="font-size:30px">知乎，这一次是真的决定离开</a></span><br />
                        <span>起因查了一下，从2015年7月知乎首答：5年多的时间，9万+的关注，8万+的收藏，15万+的赞同，勉勉强强算一个小V吧：忽然发现，</span><br />
                        <span>从赞/关注/收藏的比例来看，很多同学对我关注胜于赞同。大概就是：不赞同我的观点，但感兴趣我这个人，或者我写的东西大家愿</span><br />
                        <span> 意收藏起来慢慢看。当然我也知道：“以后再看”≈“不看”，^_^离开知乎的诱因是昨天晚上，我的一个小号突然：申诉无果：看标题 </span><br />
                        <span>就知道，这是纯粹的技术文章。 其实最初我是不想发布到知乎的，因为太“干”，看的人肯定很少。而且确实是我在开始做培训班之后，</span><br />
                        <span> “呕心沥血”整理出来 <a href="Article.html">……</a> </span><br />
                        <div>
                            <span><b>关键字：</b></span>
                            <span>离开知乎</span>
                            <span>优质内容</span>
                            <span>推广</span>
                            <div style="float:right">
                                <span><a href="Article.html">评论：</a>1</span>
                                <span><a href="Article.html">👍赞：</a>1</span>
                                <span><a href="Article.html">👎踩：</a>0</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <hr />
                    <p style="float:left">2020年11月23日22点36分</p>
                    <p><span style="float:right"><b>作者：</b><a href="Article.html">叶飞</a></span></p>
                    <div style="clear:both">
                        <span><a href="Article.html" style="font-size:30px">高阶：泛型/集合/Lambda/异常/IO/多线程</a></span><br />
                        <span>泛型可以有泛型方法/类等，同C#可以有约束public class Student<T extends IMajor>extends Person {子类继承时：public </span><br />
                        <span>class OnlineStudent<T extends IMajor>extends Student<T>{协变/逆变通配符：？实现extends：协变（out）super：逆变</span><br />
                        <span>（in）Optional 类对应NullableOptional<Integer> age = <a href="Article.html">……</a></span><br />
                        <div>
                            <span><b>关键字：</b></span>
                            <span>Java</span>
                            <span>C#</span>
                            <span>对比</span>
                            <span>高阶语法</span>
                            <div style="float:right">
                                <span><a href="Article.html">评论：</a>0</span>
                                <span><a href="Article.html">👍赞：</a>3</span>
                                <span><a href="Article.html">👎踩：</a>0</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <p style="float:left">2020年11月19日21点44分</p>
                    <p><span style="float:right"><b>作者：</b><a href="Article.html">叶飞</a></span></p>
                    <div style="clear:both">
                        <span><a href="Article.html" style="font-size:30px">异步：方法和TPL:async/await/Parallel</a></span><br />
                        <span>封装我们要把上面这个Task封装成方法，怎么办？最重要的一点，这个方法要能返回生成的random，后面的代码要用！public static </span><br />
                        <span> Task<int>getRandom(){return Task<int>.Run(() =>{Thread.Sleep(500); //模拟耗时return new Random().Next();});}</span><br />
                        <span>@@想一想@@：应该如何调用这个方法？（提示：不要直接getRandom().Result） 假如我们还需要进一步的封装，添加 <a href="Article.html">……</a></span><br />
                        <div>
                            <span>关键字：</span>
                            <span>异步</span>
                            <span>async</span>
                            <span>await</span>
                            <span>并发</span>
                            <div style="float:right">
                                <span><a href="Article.html">评论：</a>0</span>
                                <span><a href="Article.html">👍赞：</a>0</span>
                                <span><a href="Article.html">👎踩：</a>0</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <nav style="padding:30px 0px">
                    <button><a href="#">1</a></button>
                    <button><a href="#">2</a></button>
                    <button><a href="#">3</a></button>
                    <button><a href="#">4</a></button>
                    <button><a href="#">5</a></button>
                    <button><a href="#">6</a></button>
                    <button><a href="#">7</a></button>
                    <button><a href="#">8</a></button>
                    <button><a href="#">9</a></button>
                    <button><a href="#">10</a></button>
                    <button><a href="#">>></a></button>
                </nav>
            </article>
            <aside class="col-md-4">
                <div class=" sidebar">
                    <p style="font-size:30px">关键字</p><hr />
                    <div style="font-size:25px">
                        <span class="badge badge-secondary">编程开发语言</span>
                        <span class="badge badge-secondary">C#</span>
                        <span class="badge badge-secondary">JAVA</span>
                        <span class="badge badge-secondary">工具软件</span>
                        <span class="badge badge-secondary">javascript</span>
                        <span class="badge badge-secondary">顾问咨询</span>
                        <span class="badge badge-secondary">html</span>
                        <span class="badge badge-secondary">visualstudio</span>
                        <span class="badge badge-secondary">操作系统</span>
                        <span class="badge badge-secondary">职场</span>
                        <span class="badge badge-secondary">SQL</span>
                    </div>
                    <hr />
                    <span> <input type="text" placeholder="直接输入关键字查找" /></span>
                    <input type="button" value="换一批" />
                </div>
                <div class=" sidebar">
                    <ol>
                        <li><span><a href="Article.html">学编程，来“源站”！飞哥精品小班等着你......</a></span></li>
                        <li> <span><a href="Article.html">免费广告位，抢到就是赚到！</a></span></li>
                        <li><span><a href="Article.html">免费广告位，抢到就是赚到！</a></span></li>
                        <li><span><a href="Article.html">免费广告位，抢到就是赚到！</a></span></li>
                        <li> <span><a href="Article.html">免费广告位，抢到就是赚到！</a></span></li>
                        <li><span>本站本机由<a href="Article.html">西部数码</a>提供</span></li>
                    </ol>
                </div>
            </aside>
        </div>
    </main>
    <div>
        <div class=" location" style="text-align:center;position:fixed;bottom:99px;right:260px;">
            <a href="#"><span class="fa fa-question-circle"></span><br />帮助</a>
        </div>
        <div class="location" style=" text-align:center;position:fixed;bottom:40px;right:260px;">
            <a href="#"><span class=" fa fa-comments-o"></span><br />反馈</a>
        </div>
    </div>
</body>