@using  CSharp.Entities
@model IList<Keyword>
@{
}
<div class="widget clearfix">
    <p style="font-size:30px"><span class="fa fa-tags"></span>关键字</p><hr>
    <div style="font-size:25px">
        @foreach (var item in Model)
        {
            <span class="badge badge-secondary" style="border-radius: 10px;">@item.Name</span>
        }
    </div>
    <hr>
    <div class="input-group mb-3">
        <input type="text" style="width:50%" placeholder="直接输入关键字查找" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append" style="margin-right:25px">
            <span class="input-group-text" id="basic-addon2"><span class="fa fa-search"></span></span>
        </div>
        <div>
            <button type="button" style="margin-left:1px" class="btn btn-outline-dark"><span class="fa fa-random"></span>换一批</button>
        </div>
    </div>
</div>