@page
@model SourceStack.Pages.Profile.IndexModel
@{
    ViewData["Title"] = "个人资料";
}
<main class="container" style="margin-top:60px">
    <div>
        👍因为注册时使用了叶飞的邀请码，系统赠送给 源潮 ① 10点 帮帮点
        <a href="#" style="float:right">全部消息</a>
    </div>
    <div>
        <p style="font-size:45px;padding:10px"><span class="fa fa-user-circle-o"></span>个人资料</></p><hr />
    </div>
    <article>
        <div style="margin-top:55px" class="row input-group">
            <div class="col-md-7 input-group-prepend">
                <form>
                    <div class="form-group">
                        <p style="font-weight:900">头像：（* 仅限jpg/png/gif）</p>
                        <input type="text" placeholder="页面提交时上传文件" />
                        <input type="file" value="浏览" /><br />
                    </div>
                    <div class="form-group">
                        <label style="font-weight:900">性别：</label>
                        <label>
                            <input type="radio" asp-for="NewUser.IsMale" value="true" checked />男
                            <input type="radio" asp-for="NewUser.IsMale" value="false" />女 <br />
                        </label>
                    </div>
                    <div class="form-group">
                        <label style="font-weight:900">生日：</label><br />
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <select asp-for="BirthYear" asp-items="Model.AvailableYears"></select>
                                <span class="input-group-text" id="basic-addon2">年</span>
                                <select asp-for="BirthMonth" asp-items="Model.AvailableMonths"></select>
                                <span class="input-group-text" id="basic-addon2">月</span>
                                <select asp-for="Constellation" asp-items="Model.AvailableConstellations"></select>
                                <span class="input-group-text" id="basic-addon2">星座</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="font-weight:900">关键字：（* 使用空格分隔）</label><br />
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">--1级--</span>
                            </div>
                            <select asp-for="StairKeyword" asp-items="Model.AvailableStairKeywords"></select>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">--2级--</span>
                            </div>
                            <select asp-for="SecondKeyword" asp-items="Model.AvailableSecondKeywords"></select>
                            <input type="text" class="form-control" placeholder="自定义关机键，使用空格分隔">
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="font-weight:900">自我介绍：</label><br />
                        <textarea asp-for="NewUser.Introduction" style="width:400px">简单的介绍一下自己吧，不超过255字</textarea><br />
                    </div>
                    <input class="btn btn-primary" type="submit" value="提交">
                </form>
            </div>
            <aside class="col-md-5">
                <p class="text-info" style="font-size:30px;"><span class="fa fa-question-circle"></span>说明</p>
                <ol>
                    <li style="margin-bottom:10px">头像仅接受jpg/png/gif格式，大小不超过256KB。</li>
                    <li style="margin-bottom:10px">头像图片的建议宽度为300像素左右，过宽或过窄都有可能失真。</li>
                    <li style="margin-bottom:10px">自我介绍的字数不要超过255字。</li>
                </ol>
            </aside>
        </div>
    </article>
</main>
