@page
@model SourceStack.Pages.Log.InModel
@{
    Layout = "Layout/_Dual";
    ViewData["Title"] = "用户·登录";
}
@section headline{
    <span class="fa fa-sign-in"></span>
    <span>用户登录</span>
}
@if (Request.Method=="POST")
{
    <p>@Model.NewUser.Name  登录成功!</p>
}
<form method="post" asp-page="~/On">
    <div>
        <label style="font-weight:600">用户名：（* 必填）</label>
        <input class="alert alert-primary" role="alert" style="width:100%" asp-for="NewUser.Name" />
        <label style="font-weight:600">密码：（* 必填）</label>
        <input class="alert alert-primary" role="alert" style="width:100%" asp-for="NewUser.Password" />
        <label style="font-weight:600">验证码：（* 必填）</label>
        <input type="button" class="btn btn-outline-secondary" style="width:100px" />
        <a href="#">看不清楚</a>
        <br />
    </div>
    <div style="margin-top:30px">
        <button class="btn btn-primary" style=" background-color: #337ab7" type="submit">提交</button>
        <div class="form-check form-check-inline" style="margin-left:15px">
            <input class="form-check-input" asp-for="RememberMe" checked value="option1">
            <label class="form-check-label" for="inlineCheckbox1">记住我</label>
        </div>
        <div class="pull-right">
            <a href="#">(｡ŏ_ŏ) 忘了</a>
            <a href="#" style="margin-left:10px"><span class="fa fa-registered"></span>注册</a>
        </div>
    </div>
</form>
@section Explain{
    <div>
        <ol>
            <li>
                <p>我们希望通过一起帮，能直接解决大家在电脑操作/软件使用/编程学习等方面的具体问题。</p>
            </li>
            <li>
                <p>现在互联网远程技术（比如QQ桌面共享）已经非常成熟，当我们再遇到上述问题，如果别人能直接远程给予帮助，岂不是好？</p>
            </li>
            <li>
                <p>当然，你也可以在你熟悉的领域去帮助别人。由此而形成我们这个“你帮他他帮我我帮你，大家一起帮”的网上互助社区平台。</p>
            </li>
            <li>
                <p>公平起见，我们还引入了 帮帮点/币/豆 三级概念，以记录和衡量社区成员的收获和贡献。</p>
            </li>
            <li>
                <p>赶快加入我们，赚取帮帮币吧！</p>
            </li>
        </ol>
    </div>

}