@page 
@model SourceStack.Pages.Log.InModel
@{
    Layout = "Layout/_Dual";
    ViewData["Title"] = "用户·登录";
}
<head>
    <meta charset="utf-8">
    <meta name="description" content="大神自由飞的原创首发精品文章，菜鸟入门编程开发必看，还包括求职入职、代码规范、项目管理、系统架构等一系列程序猿关心的问题……">
    <meta name="keywords" content="源栈 一起帮 自由飞">
    <title>用户·登录一起帮</title>
    <link rel="shortcut icon" type="image/ico" href="/img/logo-big.ico" media="screen">
    <link rel="stylesheet" href="/css/StyleSheet.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <style>
        a {
            color: #337ab7;
            text-decoration: none;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    @section Widgets{
        <main class="container" style="margin-top:70px">
            <div id="notification" class="container" >
                <span class="fa fa-calendar"></span>
                文章的评论已截屏保存，飞哥加油被涛咆哮赞，获得帮帮点 奖励2点
                <a href="723.html" style="float:right; color:#337ab7"><span class=" fa fa-hand-o-right "></span>全部消息</a>
            </div>
            <div style="font-size:35px;margin:25px 0 15px 0">
                <span class="fa fa-sign-in"></span>
                <span>用户登录</span><hr />
            </div>
            <div class="row" style="margin:30px 0px">
                <article class="col-md-4 ">
                    <p style="font-weight:600">用户名：（* 必填）</p>
                    <p><input class="alert alert-primary" role="alert" style="width:100%" id="username" /></p>
                    <p style="font-weight:600">密码：（* 必填）</p>
                    <p><input class="alert alert-primary" role="alert" style="width:100%" id="username" /></p>
                    <p style="font-weight:600">验证码：（* 必填）</p>
                    <span><input type="button" class="btn btn-outline-secondary" style="width:100px" /></span>
                    <a href="#">看不清楚</a><br />
                    <div style="margin-top:20px">
                        <button class="btn btn-primary" style=" background-color: #337ab7">提交</button>
                        <div class="form-check form-check-inline" style="margin-left:15px">
                            <input class="form-check-input" type="checkbox" checked id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">记住我</label>
                        </div>
                        <div class="pull-right">
                            <a href="#">(｡ŏ_ŏ) 忘了</a>
                            <a href="#" style="margin-left:10px"><span class="fa fa-registered"></span>注册</a>
                        </div>
                    </div>
                </article>
                }
                @*@section Widgets{
    <aside class="col-md-6 offset-md-2">
        <div class="text-info" style="font-size:30px;margin-bottom:20px">
            <span class="fa fa-question-circle"></span>
            <span>说明</span>
        </div>
        <div>
            <ol>
                <li>
                    <p>我们希望通过一起帮，能直接解决大家在电脑操作/软件使用/编程学习等方面的具体问题。</p>
                </li>
                <li>
                    <p>现在互联网远程技术（比如QQ桌面共享）已经非常成熟，当我们再遇到上述问题，如果别人能直接远程给予帮助，岂不是好？</p>
                </li>
                <li>
                    <p>当然，你也可以在你熟悉的领域去帮助别人。由此而形成我们这个“你帮他他帮我我帮你，大家一起帮”的网上互助社区平台。</p>
                </li>
                <li>
                    <p>公平起见，我们还引入了 帮帮点/币/豆 三级概念，以记录和衡量社区成员的收获和贡献。</p>
                </li>
                <li>
                    <p>赶快加入我们，赚取帮帮币吧！</p>
                </li>
            </ol>
        </div>
    </aside>
    }*@
    </div>
    </main>
    <div>
        <div class=" location" style="text-align:center;position:fixed;top:130px;right:310px;">
            <a href="#"><span class="fa fa-mail-forward"></span>返回</a>
        </div>
        <div class=" location" style="text-align:center;position:fixed;bottom:99px;right:260px;">
            <a href="#"><span class="fa fa-question-circle-o"></span><br />帮助</a>
        </div>
        <div class="location" style=" text-align:center;position:fixed;bottom:40px;right:260px;">
            <a href="#"><span class=" fa fa-comments-o"></span><br />反馈</a>
        </div>
    </div>

</body>