@page
@model SourceStack.Pages.Message.MineModel
@{
    ViewData["Title"] = "我的消息";

}
<head>
    <style>
        a {
            color: #337ab7;
            text-decoration: none;
        }

        .interval {
            margin-left: 7px;
            margin-right: 7px;
        }

        .photo {
            border: 1px solid #ddd;
            margin-top: 60px;
            height: 200px;
            border-radius: 4px;
        }
    </style>
</head>
<main style="margin-top:80px" class="container">
    <div id="notification" class="container">
        <span class="fa fa-pencil-square-o" title="2021年3月18日 15点40分"></span>
        文章的评论叶飞老师，我之前就是看你的文章学的SQL，非常感谢...被uao赞，获得帮帮点 奖励2点
        <a href="723.html" style="float:right; color:#337ab7"><span class=" fa fa-hand-o-right"></span>全部消息</a>
    </div>
    <div class="row" style="margin-top:40px;">
        <div class="col-md-9">
            <h2 class="page-header">
                <span class="fa fa-bell" aria-hidden="true"></span> 我的消息
            </h2><hr />
            <div>
                <form asp-page="~/Mine" method="post" style="margin-top:20px;">
                    <div class="row" style="margin-bottom:20px;">
                        <div class="col-xs-12 col-sm-8 col-md-6">
                            <label class="checkbox-inline">
                                <input type="checkbox" l /> 全选
                            </label>
                            <button type="submit" value="Read" class="btn btn-primary btn-xs">
                                <span class="fa fa-check-circle"></span> 已读
                            </button>
                            <button type="submit" value="Delete" class="btn btn-default btn-xs">
                                <span class="fa fa-times-circle"></span> 删除
                            </button>
                        </div>
                        <input type="hidden" name="submit" value="" />
                    </div>
                    <div class="row visible-sm visible-md visible-lg">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-2">时间</div>
                        <div class="col-sm-7">内容</div>
                    </div>
                    <hr class="thin visible-sm visible-md visible-lg" />
                    @for (int i = 0; i < Model.Messages.Count; i++)
                    {
                        <div class="row text-bold">
                            <div class="col-xs-2 ">
                                <input asp-for="@Model.Messages[i].Selected" />
                            </div>
                            <div class="col-xs-2 col-sm-3" data-toggle="tooltip">
                                <span>@Model.Messages[i].Createtime</span>
                            </div>
                            <div class="col-xs-12 col-sm-7">
                                <span>@Model.Messages[i].Content</span>
                            </div>
                        </div>
                        <hr />
                    }

                    <input class="btn btn-primary" style="background-color: #337ab7" value="提交" type="submit">
                </form>
            </div>
        </div>
        <aside class="col-md-3">
            <div id="advertising" style="background-color:#ffffe0">
                <div style="font-size:25px">
                    <span class="fa fa-list"></span>
                    新手任务
                </div><hr />
                <p><span class="fa fa-square-o fa-fw"></span><span class="interval">填写:</span><a href="#">联系方式</a></p>
                <p><span class="fa fa-square-o fa-fw"></span><span class="interval">填写:</span><a href="#">Email</a></p>
                <p><span class="fa fa-square-o fa-fw"></span><span class="interval">填写:</span><a href="#">我的小伙伴</a></p>
                <p><span class="fa fa-square-o fa-fw"></span><span class="interval">填写:</span><a href="#">新人测试</a></p>
                <p><span class="fa fa-square-o fa-fw"></span><span class="interval">填写:</span><a href="#">第一次求助</a></p>
                <p><span class="fa fa-square-o fa-fw"></span><span class="interval">填写:</span><a href="#">第一次协助</a></p>
                <p><span class="fa fa-check-square-o fa-fw"></span><span class="interval">填写:若干</span><a href="#" style="color:rgba(203,180,26,1)"><span class="fa fa-dollar"></span>帮帮币</a></p>
            </div>
            <a href="#" class="pull-right" style="font-size:15px;margin-top:20px"><span class="fa fa-pencil-square-o" style="margin-right:4px"></span>修改</a>
            <div class="photo">
                <span class="fa fa-picture-o" style="font-size:60px;text-align:center;width:100%;margin-top:20%"></span>
                <div style="margin-left: 30%;margin-top:20px">等待上传中<span class="fa fa-hourglass-half"></span>...</div>
            </div>
            <div style="margin-top:20px">
                <span><b>用户:</b><a href="#" style="margin-left:20px;margin-right:4px">uao</a><a href="#" style="margin-right:20px">①</a><a href="#"><span class="fa fa-pencil-square-o" style="margin-right:4px"></span>修改</a></span>
            </div>
        </aside>
    </div>
</main>