@page
@model IndexModel
@{
    ViewData["Title"] = "首页";
    //Layout = "Layout/_Dual";
}
<main class="container">
    <nav>
        文章的评论.NET Core的绘图功能需要在NuGet包里额...被叶飞赞，获得帮帮点 奖励2点
        <a style="float:right" href="#">全部消息</a>
    </nav>
    <article class="col-md-8">
        <div style="text-align:center;margin-top:20px">
            <a href="page.html">更多历史<span class="fa fa-angle-double-up"></span></a>
        </div>

        <p>
            <button>@@TA<br />回复</button>
            <span>2020/8/6  14：19：14<a href="page.html">ESWIN②</a></span>
        <p>加油哦</p>
        <p>
        <p>
            <button>@@TA<br />回复</button>
            <span>2020/9/7  14：19：14<a href="page.html">小屿②</a></span>
        <p>0</p>
        <p>
        <p>
            <button>@@TA<br />回复</button>
            <span>2020/9/7  14：19：34<a href="page.html">小屿②</a></span>
        <p>0</p>
        <p>
        <p>
            <button>@@TA<br />回复</button>
            <span>2020/10/7  14：19：14<a href="page.html">阿达②</a></span>
        <p>这个网址怎么用的</p>
        <p>
        <p>
            <button>@@TA<br />回复</button>
            <span>2020/10/8  14：19：14<a href="page.html">阿斯弗②</a></span>
        <p>有人吗</p>
        <p>
        <p>
            <button>@@TA<br />回复</button>
            <span>2020/10/11  14：19：14<a href="page.html">阿斯顿②</a></span>
        <p>三分天下</p>
        <p>
        <p>
            <button>@@TA<br />回复</button>
            <span>2020/10/13  14：19：14<a href="page.html">阿斯各②</a></span>
        <p>给我讲一下冒泡排序</p>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="我来说两句" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">发送</span>
            </div>
        </div>

    </article>
</main>
<aside style="float:right;position:fixed;top:200px;left:1100px">
    <h4>“源栈”web开发培训班</h4>
    <h4 style="color:red">火热<span> 招生中：</span></h4>
    <p>线上：全程直播，<b>免费</b>收看</p>
    <p>线下：<b>灵活</b>学制，拎包入住，</p>
    <p>有意向的同学，可以加qq群：326801052</p>
    <img src="http://17bang.ren/images/qq-group.png" alt="http://17bang.ren/images/qq-group.png" />
</aside>
<pager path="/Index" pageIndex="3">第三页</pager>
