@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<head>
    <meta name="description" content="大神自由飞的原创首发精品文章，菜鸟入门编程开发必看，还包括求职入职、代码规范、项目管理、系统架构等一系列程序猿关心的问题……" />
    <meta name="keywords" content="源栈 一起帮 自由飞" />
    <title>首页·一起帮</title>
    <link rel="shortcut icon" type="image/ico" href="/Images/logo.ico" media="screen" />
    <link rel="stylesheet" href="/css/StyleSheet.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/font-awesome.css" />
    <style>
        input {
            width: 400px
        }
    </style>
</head>

<body>
    <header style="position:fixed;z-index:999;top:0px; width:100%">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container ">
                <img src="http://17bang.ren/Images/logo-big.ico" alt="一起帮lago">
                <b style="margin-left:15px;color:#777;font-size:20px">一起帮·</b>网络互助平台
                <span class="fa fa-bell " style="margin-left:10px;margin-top: -10px;color:darkblue"></span>
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse  nav justify-content-end " id="navbarSupportedContent">
                    <ul class="navbar-nav ">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-question-circle"></span>
                                求助
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">督导班</a>
                                <a class="dropdown-item" href="#">列表</a>
                                <a class="dropdown-item" href="#">疑问发布</a>
                                <a class="dropdown-item" href="#">疑问列表</a><hr>
                                <a class="dropdown-item" href="#">列表</a>
                                <a class="dropdown-item" href="#">发布</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-eye"></span>
                                监督
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">督导班</a>
                                <a class="dropdown-item" href="#">求监督</a>
                                <a class="dropdown-item" href="#">监督别人</a>
                                <a class="dropdown-item" href="#">我的目标</a><hr>
                                <a class="dropdown-item" href="#">我的督促</a>
                                <a class="dropdown-item" href="#">未交作业</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-clipboard"></span>
                                文章
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">列表</a>
                                <a class="dropdown-item" href="#">开通</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color:cornflowerblue" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-user-circle-o"></span>
                                uao
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">新手任务</a>
                                <a class="dropdown-item" href="#">我的主页</a>
                                <a class="dropdown-item" href="#">疑问发布</a>
                                <p> <a class="dropdown-item" href="#">帮帮豆</a>:2颗</p>
                                <p> <a class="dropdown-item" href="#">帮帮点</a>:10点</p>
                                <p> <a class="dropdown-item" href="#">帮帮币</a>:0枚</p>
                                <p>修改</p>
                                <a class="dropdown-item" href="#">我的秘密</a>
                                <a class="dropdown-item" href="#">联系方式</a>
                                <a class="dropdown-item" href="#">个人资料</a>
                                <a class="dropdown-item" href="#">退出登录</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-dashboard"></span>
                                后台
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">邀请注册</a>
                                <a class="dropdown-item" href="#">我的消息</a>
                                <a class="dropdown-item" href="#">我的草稿</a>
                                <p>广告推广</p>
                                <a class="dropdown-item" href="#">联系方式</a>
                                <a class="dropdown-item" href="#">侧边栏</a>
                                <p>帮帮币</p>
                                <a class="dropdown-item" href="#">购买</a>
                                <a class="dropdown-item" href="#">出售</a>
                                <a class="dropdown-item" href="#">已购买</a>
                                <a class="dropdown-item" href="#">已出售</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <main class="container">
        <nav>
            文章的评论.NET Core的绘图功能需要在NuGet包里额...被叶飞赞，获得帮帮点 奖励2点
            <a style="float:right" href="#">全部消息</a>
        </nav>
        <article class="col-md-8">
            <div style="text-align:center;margin-top:20px">
                <a href="page.html">更多历史<span class="fa fa-angle-double-up"></span></a>
            </div>

            <p>
                <button>@@TA<br />回复</button>
                <span>2020/8/6  14：19：14<a href="page.html">ESWIN②</a></span>
            <p>加油哦</p>
            <p>
            <p>
                <button>@@TA<br />回复</button>
                <span>2020/9/7  14：19：14<a href="page.html">小屿②</a></span>
            <p>0</p>
            <p>
            <p>
                <button>@@TA<br />回复</button>
                <span>2020/9/7  14：19：34<a href="page.html">小屿②</a></span>
            <p>0</p>
            <p>
            <p>
                <button>@@TA<br />回复</button>
                <span>2020/10/7  14：19：14<a href="page.html">阿达②</a></span>
            <p>这个网址怎么用的</p>
            <p>
            <p>
                <button>@@TA<br />回复</button>
                <span>2020/10/8  14：19：14<a href="page.html">阿斯弗②</a></span>
            <p>有人吗</p>
            <p>
            <p>
                <button>@@TA<br />回复</button>
                <span>2020/10/11  14：19：14<a href="page.html">阿斯顿②</a></span>
            <p>三分天下</p>
            <p>
            <p>
                <button>@@TA<br />回复</button>
                <span>2020/10/13  14：19：14<a href="page.html">阿斯各②</a></span>
            <p>给我讲一下冒泡排序</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="我来说两句" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">发送</span>
                </div>
            </div>

        </article>
        <aside style="float:right;position:fixed;top:200px;left:1100px">
            <h4>“源栈”Web开发培训班</h4>
            <h4 style="color:red">火热<span> 招生中：</span></h4>
            <p>线上：全程直播，<b>免费</b>收看</p>
            <p>线下：<b>灵活</b>学制，拎包入住，</p>
            <p>有意向的同学，可以加QQ群：326801052</p>
            <img src="http://17bang.ren/Images/qq-group.png" alt="http://17bang.ren/Images/qq-group.png" />
        </aside><hr />
    </main>
    <footer class="container">
        <div>
            <a href="#">关于我们</a>|<a href="#">常见问题</a>|<a href="Suggest.html">意见建议</a>|
            <a href="#">历史通知</a>|<a href="#" style="color:deepskyblue">友情提示</a>|<a href="#">诚邀合伙人</a>
        </div>
        <span style="float:right"><a href="Article.html">渝ICP备18007191号（备案）</a>© 2021 - 自由<img src="https://17bang.ren/Images/freeflying.ico" /></span>
    </footer>
</body>
