@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "Layout/_Dual";
}


<head>
    <meta name="description" content="大神自由飞的原创首发精品文章，菜鸟入门编程开发必看，还包括求职入职、代码规范、项目管理、系统架构等一系列程序猿关心的问题……" />
    <meta name="keywords" content="源栈 一起帮 自由飞" />
    <title>首页·一起帮</title>
    <link rel="shortcut icon" type="image/ico" href="/Images/logo.ico" media="screen" />
    <link rel="stylesheet" href="/css/StyleSheet.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/font-awesome.css" />
    <style>
        input {
            width: 400px
        }
    </style>
</head>

<body>
    <main class="container">
        <nav>
            文章的评论.NET Core的绘图功能需要在NuGet包里额...被叶飞赞，获得帮帮点 奖励2点
            <a style="float:right" href="#">全部消息</a>
        </nav>
        <article class="col-md-8">
            <div style="text-align:center;margin-top:20px">
                <a href="page.html">更多历史<span class="fa fa-angle-double-up"></span></a>
            </div>

            <p>
                <button>@@TA<br />回复</button>
                <span>2020/8/6  14：19：14<a href="page.html">ESWIN②</a></span>
            <p>加油哦</p>
            <p>
            <p>
                <button>@@TA<br />回复</button>
                <span>2020/9/7  14：19：14<a href="page.html">小屿②</a></span>
            <p>0</p>
            <p>
            <p>
                <button>@@TA<br />回复</button>
                <span>2020/9/7  14：19：34<a href="page.html">小屿②</a></span>
            <p>0</p>
            <p>
            <p>
                <button>@@TA<br />回复</button>
                <span>2020/10/7  14：19：14<a href="page.html">阿达②</a></span>
            <p>这个网址怎么用的</p>
            <p>
            <p>
                <button>@@TA<br />回复</button>
                <span>2020/10/8  14：19：14<a href="page.html">阿斯弗②</a></span>
            <p>有人吗</p>
            <p>
            <p>
                <button>@@TA<br />回复</button>
                <span>2020/10/11  14：19：14<a href="page.html">阿斯顿②</a></span>
            <p>三分天下</p>
            <p>
            <p>
                <button>@@TA<br />回复</button>
                <span>2020/10/13  14：19：14<a href="page.html">阿斯各②</a></span>
            <p>给我讲一下冒泡排序</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="我来说两句" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">发送</span>
                </div>
            </div>

        </article>

    </main>

</body>
