

div.on {
    background-color: gainsboro;
}

div.con {
    border-width: 1px;
    border-style: dashed;
    border-color: burlywood;
    background-color: beige;
}

div.coni {
    border-width: 1px;
    border-style: dashed;
    border-color: burlywood;
}

div.cao {
    border-width: 1px;
    border-style: dashed;
    background-color: aquamarine
}

a:link {
    text-decoration: none;
}

a:active {
    background-color: blue;
}

