


.sidebar {
    /*侧边栏*/
    border-width: 1px;
    border-style: dashed;
    border-color:chartreuse;
    margin-top:15px;
    padding:7px 10px;
    
}
.location {
    border-width: 1px;
    padding: 5px 7px;
    background-color: aquamarine
}

.praise {
    /*点赞*/
    border-width: 1px;
    border-style: dashed;
    border-color: burlywood;
    padding: 3px 5px;
}

.award {
    /*广告*/
    padding: 6px 8px;
    background-color: khaki;
    border-width: 1px;
    border-style: dashed;
    border-color: cornflowerblue;
}

.frame {
    /*打赏*/
    border-width: 1px;
    border-style: dashed;
    border-color: burlywood;
    padding: 10px;
}

.easel {
    /*上下篇*/
    padding: 5px;
    border-width: 2px;
    border-style: dashed;
}

div.cao {
    border-width: 1px;
    border-style: dashed;
    background-color: aquamarine
}

a:link {
    text-decoration: none;
}

a:active {
    background-color: blue;
}
